.banner {
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    background: #3e41595e;
}

.banner h1,
.banner p,
.banner h2 {
    color: wheat;
}